*{
    margin: 0;
}
.Page{
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    /*height: 100vh;*/
}

.PageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin: 5px;*/
    width: 100%;
}

.PageBanner{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    height: 50%;
}

.PageBannerH1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*padding: 5px;*/
    
}
.PageBannerH1Content{
    font-size: 2.0rem;
    font-weight: bolder;
}
.PageBannerH1ContentCitation{
    width: 200px;
}

.PageBannerImg{
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
}
.Img{
    width: 330px;
    left: 0;
    bottom: 0;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 80px;
}

.PageCV{
    display: flex;
    /*align-items: center;*/
    height: 500px;
    color: blanchedalmond;
    background: linear-gradient(to right, #0f2027,
                                          #203a43,
                                          #2c5364);
}
.PageCvWrapper{
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 220px;
    height: 250px;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photoWrap{
    width: 180px;
    height: 230px;
}

.academic{
    margin: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}
.academicH3{
    margin: 10px;
}
.academicGraduation{
    margin: 10px;
    padding-left: 7px;
}
.academicProjects{
    margin: 10px;
    padding-left: 10px;
}
.academicContact{
    margin: 20px 10px;
}
.contact{
    display: flex;
    margin: 0 20px;
    /*justify-content: space-around;*/
}
.contact .email{
    margin: 0 10px;
}
.contact .linkedin{
    margin: 0 10px;
}
.contact .github{
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: white;
}

.skills{
    margin: 50px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 3.0em;
}