

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* 10/16px = 0.625, 1rem=10px*/
    font-size: 62.5%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    box-sizing: border-box;
}

.header{
    color: #ffff;
    height: 90vh;
    background-image: linear-gradient(to right bottom, #1c92d2c9,
                                                       #f2fcfe9d),
                                  url(./img/keyboardbackground.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.header__title{
    text-align: center;
}

.header__title-primary{
    display: block;

    animation-name: moveInleft;
    animation-duration: 3s;
}

.header__title-sub{
    display: block;
    font-size: 2rem;
    letter-spacing: 1rem;

    animation-name: moveInRight;
    animation-duration: 3s;
}

.header__content-logo{
    margin: 1rem;
    width: 17rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50% at 50% 50%);
}

.header__content-logo img{
    margin-top: 14rem;
    margin-right: 11rem;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    80% {
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
} 



/*

    "Nothing happens without software. And what is software?
    Software is a set of rules." - Robert C. Martin
     
 */